*.o
*.kate-swp
#*~
*.swp
*.gz
src/dislocker
src/dislocker-bek
src/dislocker-file
src/dislocker-find
src/dislocker-fuse
src/dislocker-metadata
src/libdislocker.so*

# Configured files
include/dislocker/ssl_bindings.h
src/dislocker-find.rb

# Unit test files
*.gcno
*.gcda
*.gcov

# cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

