name: macos

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
    - '*-ci'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15, macos-14 ]
        cc: [ clang ]
    steps:
    - uses: actions/checkout@v4
    - name: dependencies
      run: |
           brew install -v Caskroom/cask/macfuse
           ./src/mbed_install.sh
    - name: build
      env:
        CC: ${{ matrix.cc }}
      run: |
           cmake . -DCMAKE_C_COMPILER=${{ matrix.cc }}
           make